<div class="container mt-4">
  <h1 class="text-white">Classrooms</h1>

  <% if current_user.admin? %>
    <div class="my-3">
      <%= link_to 'Create New Classroom', new_classroom_path, class: 'btn btn-success' %>
    </div>
  <% end %>

  <% if @classrooms.any? %>
    <div class="row">
      <% @classrooms.each do |classroom| %>
        <div class="col-md-6">
          <div class="card mb-4 bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title">Classroom: <%= classroom.id %></h5>
              <p class="card-text"><strong>Teacher:</strong> <%= classroom.teacher.full_name %></p>
              <p class="card-text"><strong>Status:</strong> <%= classroom.status %></p>
              <%= link_to 'View Details', classroom, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-white">No classrooms available or you are not enrolled in any classrooms.</p>
  <% end %>
</div>
