<div class="container bg-light p-5 rounded text-black">
  <h1 class="mb-4">Create New Classroom</h1>

  <% if @classroom.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h4>
      <ul>
        <% @classroom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for(@classroom, html: { class: 'form-horizontal', data: { controller: "sessions" } }) do |f| %>
    <div class="mb-3">
      <%= f.collection_select :workshop_id, Workshop.all, :id, :name, { include_blank: 'Please select' }, { class: 'form-select', required: true } %>
    </div>

    <div class="mb-3">
      <%= f.label :teacher_id, "Select a Teacher", class: 'form-label' %>
      <%= f.collection_select :teacher_id, User.where(role: 'admin'), :id, :full_name, { include_blank: 'Please select' }, { class: 'form-select', required: true } %>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= f.input :day_count, label: 'Number of Days', input_html: { type: 'number', min: 1, class: 'form-control', id: 'day_count', data: { sessions_target: "dayCountInput" } } %>
      </div>
      <div class="col">
        <%= f.input :hours_per_class, label: 'Hours per Class', input_html: { type: 'number', min: 1, class: 'form-control' } %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= f.input :regular_price, label: 'Regular Price ($)', input_html: { type: 'text', class: 'form-control' } %>
      </div>
      <div class="col">
        <%= f.input :discount_percentage, label: 'Discount Percentage (%)', input_html: { type: 'text', class: 'form-control' } %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.input :price_per_student, label: 'Price per Student ($)', input_html: { type: 'text', class: 'form-control', readonly: true } %>
    </div>

    <h4 class="text-black mb-3">Class Sessions</h4>
    <div id="sessions_container" data-sessions-target="sessionsContainer">
      <!-- Los campos de sesión se insertarán aquí -->
    </div>

    <div class="mb-3">
      <%= f.input :status, collection: %w[Abierto En clase Finalizado], prompt: "Select a status", input_html: { class: 'form-select' } %>
    </div>

    <%= f.button :submit, 'Create Classroom', class: 'btn btn-primary' %>
  <% end %>
</div>
