<style>


</style>
<!-- app/views/devise/registrations/new.html.erb -->

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', data: { controller: "payment" } }) do |f| %>
  <%= f.error_notification %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <p>Se encontraron errores:</p>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Paso 1: Información Personal -->
  <div class="step step-active" data-payment-target="step1">
    <fieldset class="mb-3">
      <legend>Información personal básica:</legend>
      <%= f.input :full_name, required: true, autofocus: true, input_html: { class: 'form-control' } %>
      <%= f.input :email, required: true, input_html: { class: 'form-control' } %>
      <%= f.input :password, required: true, input_html: { class: 'form-control' }, autocomplete: "new-password", hint: "Minimum 6 characters long" %>
      <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control' }, autocomplete: "new-password" %>
      <%= f.input :phone, input_html: { class: 'form-control' } %>
      <%= f.input :age, input_html: { class: 'form-control' } %>
      <%= f.input :country, as: :select, collection: ['Panamá', 'Colombia', 'Otro'], input_html: { class: 'form-select' } %>
      <%= f.input :city, input_html: { class: 'form-control' } %>
    </fieldset>
    <button type="button" class="btn btn-primary" data-action="click->payment#nextStep">Siguiente</button>
  </div>

  <!-- Paso 2: Selección de Método de Pago y Subir Comprobante -->
  <div class="step" data-payment-target="step2">
    <fieldset class="mb-3">
      <legend>Método de pago y comprobante:</legend>
      <%= f.input :payment_method, as: :select, collection: [["Yappy", "yappy"], ["ACH", "ach"]], prompt: "Seleccione un método de pago", input_html: { class: 'form-select', data: { action: "change->payment#showPaymentInfo", payment_target: "paymentMethod" } } %>

      <!-- Información para Yappy -->
      <div data-payment-target="yappyInfo" class="d-none">
        <p>Envía tu yappy al 6250-8252</p>
        <%= f.input :payment_option, as: :select, collection: [['Pago Completo', 'full'], ['Pago de Reserva', 'reservation']], prompt: "Seleccione tipo de pago", input_html: { class: 'form-select', data: { action: "change->payment#showPaymentProof", payment_target: "paymentOption" } } %>
        <div data-payment-target="fullPaymentProof" class="d-none">
          <p>Importe: $60 USD</p>
          <%= f.input :full_payment_proof, as: :file, label: "Subir comprobante de pago completo", input_html: { class: 'form-control' } %>
        </div>
        <div data-payment-target="reservationPaymentProof" class="d-none">
          <p>Importe: $30 USD</p>
          <%= f.input :reservation_payment_proof, as: :file, label: "Subir comprobante de pago de reserva", input_html: { class: 'form-control' } %>
        </div>
      </div>

      <!-- Información para ACH -->
      <div data-payment-target="achInfo" class="d-none">
        <p>Número de cuenta: 04035458930</p>
        <p>Nombre de la cuenta: Hanaley Mosley</p>
        <p>Tipo de cuenta: Ahorro</p>
        <%= f.input :payment_option, as: :select, collection: [['Pago Completo', 'full'], ['Pago de Reserva', 'reservation']], prompt: "Seleccione tipo de pago", input_html: { class: 'form-select', data: { action: "change->payment#showPaymentProof", payment_target: "paymentOption" } } %>
        <div data-payment-target="fullPaymentProof" class="d-none">
          <p>Importe: $60 USD</p>
          <%= f.input :full_payment_proof, as: :file, label: "Subir comprobante de pago completo", input_html: { class: 'form-control' } %>
        </div>
        <div data-payment-target="reservationPaymentProof" class="d-none">
          <p>Importe: $30 USD</p>
          <%= f.input :reservation_payment_proof, as: :file, label: "Subir comprobante de pago de reserva", input_html: { class: 'form-control' } %>
        </div>
      </div>
    </fieldset>
<button type="button" class="btn btn-primary" data-action="click->payment#nextStep">Siguiente</button>


    <%= f.button :submit, "Sign up", class: 'btn btn-primary mt-3' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
