<div class="container mb-5">
  <div class="row container-center vh-100">
    <div class="col-md-8 text-black bg-light" data-controller="payment" data-aos="fade-up">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal pb-3' }) do |f| %>
        <div id="alert-container" class="d-none">
          <p class="alert alert-danger" data-controller="notification" data-notification-alert-target="alert">
            <%= flash[:alert] %>
          </p>
        </div>

        <%= f.error_notification %>
        <% if resource.errors.any? %>
          <div class="alert alert-danger">
            <p>Se encontraron errores:</p>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Paso 1: Información Personal -->
        <div class="step step-active bg-white" data-payment-target="step">
          <fieldset class="mb-3">
            <legend>Información Personal</legend>
            <%= f.input :full_name, label: 'Nombre completo', required: true, autofocus: true, input_html: { class: 'form-control required-field', 'data-payment-target': 'requiredField', 'data-action': 'input->payment#validateStep' } %>
            <%= f.input :email, label: 'Correo electrónico', required: true, input_html: { class: 'form-control required-field', 'data-payment-target': 'emailField', 'data-action': 'input->payment#validateStep input->payment#validateEmail' } %>
            <div data-payment-target="emailError" class="text-danger"></div>
            <div data-payment-target="emailValidationMessage" class="mt-2"></div>

            <%= f.input :password, label: 'Contraseña', required: true, input_html: { class: 'form-control required-field', 'data-payment-target': 'passwordField', 'data-action': 'input->payment#validateStep input->payment#validatePassword' }, autocomplete: "new-password" %>
            <div data-payment-target="passwordRequirements" class="mt-2">
              <p class="text-danger" data-payment-target="passwordLength">Al menos 7 caracteres</p>
              <p class="text-danger" data-payment-target="passwordUppercase">Al menos 1 letra mayúscula</p>
              <p class="text-danger" data-payment-target="passwordSpecial">Al menos 1 caracter especial</p>
              <p class="text-danger" data-payment-target="passwordNumber">Al menos 1 número</p>
            </div>
            <%= f.input :password_confirmation, label: 'Confirmar contraseña', required: true, input_html: { class: 'form-control required-field', 'data-payment-target': 'passwordConfirmationField', 'data-action': 'input->payment#validateStep input->payment#validatePasswordConfirmation' }, autocomplete: "new-password" %>
            <div data-payment-target="passwordError" class="text-danger"></div>
            <%= f.input :phone, label: 'Teléfono', input_html: { class: 'form-control', 'data-payment-target': 'requiredField', 'data-action': 'input->payment#validateStep' } %>
            <%= f.collection_select :workshop_id, Workshop.all, :id, :name, {prompt: 'Selecciona tu taller'}, {id: 'workshop_selector', class: 'form-control required-field', 'data-payment-target': 'requiredField', 'data-action': 'input->payment#validateStep' } %>
          </fieldset>
          <button type="button" class="btn btn-primary" data-action="click->payment#nextStep" data-payment-target="nextButton" disabled>Siguiente</button>
        </div>

        <!-- Paso 2: Selección de Método de Pago -->
        <div class="step container-center bg-white" data-payment-target="step" data-aos="fade-up">
          <fieldset class="mb-3">
            <legend>Método de pago:</legend>
            <%= f.input :payment_option, label: 'Opción de pago', as: :select, collection: [['Pago Completo', 'full'], ['Pago de Reserva', 'reservation']], prompt: "Seleccione tipo de pago", input_html: { class: 'form-select required-field', 'data-payment-target': 'paymentOption', 'data-action': 'change->payment#validateStep change->payment#showPaymentProof' } %>
            <%= f.input :payment_method, label: 'Método de pago', as: :select, collection: [["Yappy", "yappy"], ["ACH", "ach"]], prompt: "Seleccione un método de pago", input_html: { class: 'form-select required-field', 'data-payment-target': 'paymentMethod', 'data-action': 'change->payment#validateStep change->payment#showPaymentInfo' } %>
          </fieldset>
          <button type="button" class="btn btn-secondary" data-action="click->payment#previousStep">Anterior</button>
          <button type="button" class="btn btn-primary" data-action="click->payment#nextStep" data-payment-target="nextButton" disabled>Siguiente</button>
        </div>

        <!-- Paso 3: Subir Comprobante -->
        <div class="step bg-white" data-payment-target="step" data-aos="fade-up">
          <fieldset class="mb-3">
            <legend>Pagar y Subir Comprobante:</legend>

            <!-- Contenedor de Información para Yappy, ahora movido arriba -->
            <div data-payment-target="yappyInfo" class="d-none bg-wgite shadow-lg rounded" data-aos="fade-up">
              <div class="yappy p-5 rounded">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <img src="/images/payments/yappy-campamento-web.png" alt="Pagar con Yappy" class="img-fluid" width="90">
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="/images/payments/qr.jpeg" alt="Pagar a QR" class="img-fluid" width="150">
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="codigo-container">
                      <h3 id="codigo" class="mt-5">6250-8252</h3>
                      <button id="copyButton" class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-copy"></i>
                      </button>
                      <div id="mensaje-copiado" style="display: none;">
                        <i class="fa fa-check"></i> Texto copiado
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Contenedor de Información para ACH, ahora movido arriba -->
            <div data-payment-target="achInfo" class="d-none" data-aos="fade-up">
              <div class="ach p-5 rounded">
                <div class="row">
                  <div class="col-md-5 text-center">
                    <img src="/images/payments/ach-campamento-web.png" alt="Pagar con Transferencia Bancaria" class="img-fluid" width="200">
                  </div>
                  <div class="col-md-7 info text-center">
                    <h5 class="fs-3">Transferencia Bancaria</h5>
                    <p>Número de cuenta: 0401985663310</p>
                    <p>Nombre de la cuenta: Hanaley Mosley</p>
                    <p>Cuenta de ahorros</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Detalles del Pago -->
            <div class="pricing-info shadow-lg p-4 my-4 mt-5 bg-white rounded" data-payment-target="fullPaymentDetails">
              <h4 class="text-center">Detalle de Precio</h4>
              <hr>
              <p class="text-muted text-center">Precio Regular: <span id="regular_price_display">Selecciona un taller</span></p>
              <p class="text-center discount-text">Descuento Aplicado: <span id="discount_percentage_display"><%= @discount_percentage || 0 %>%</span></p>
              <h4 class="text-center total-price">Total a Pagar: <span id="total_price_display">0 USD</span></h4>
            </div>
            <div class="pricing-info shadow-lg p-4 my-4 mt-5 bg-white rounded d-none" data-payment-target="reservationPaymentDetails">
              <h4 class="text-center">Detalle de Reserva</h4>
              <hr>
              <p class="text-muted text-center">Precio Original: <span id="regular_price_display_reservation">Selecciona un taller</span></p>
              <p class="text-center discount-text">Descuento Aplicado: <span id="discount_percentage_display_reservation">0%</span></p>
              <p class="text-center">Importe de la Reserva: <span id="reservation_amount_display" class="text-primary">0 USD</span></p>
              <p class="text-center">Total a Pagar: <span id="total_price_display_reservation" class="text-primary">0 USD</span></p>
              <p class="text-center">Pago Pendiente: <span id="remaining_amount_display" class="text-primary">0 USD</span></p>
            </div>

            <!-- Subir Comprobante -->
            <div class="d-none p-4 bg-wgite shadow-lg rounded mt-3" data-payment-target="fullPaymentProof">
              <div class="text-center mb-3">
                <img src="https://placehold.co/400" alt="Preview" data-payment-target="fullFilePreview" style="max-width: 200px;">
              </div>
              <label class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt fa-3x"></i>
                <br>
                Subir archivo o arrástralo aquí.
                <%= f.file_field :full_payment_proof, direct_upload: true, data: { action: "change->payment#uploadFile", payment_target: "fullFileInput" }, accept: 'image/jpeg,image/png,application/pdf' %>
              </label>
              <div class="progress d-none" data-payment-target="fullPaymentProgress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-none p-4 bg-wgite shadow-lg rounded mt-3" data-payment-target="reservationPaymentProof">
              <div class="text-center mb-3">
                <img src="https://placehold.co/400" alt="Preview" data-payment-target="reservationFilePreview" style="max-width: 200px;">
              </div>
              <label class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt fa-3x"></i>
                <br>
                Subir archivo o arrástralo aquí.
                <%= f.file_field :reservation_payment_proof, direct_upload: true, data: { action: "change->payment#uploadFile", payment_target: "reservationFileInput" }, accept: 'image/jpeg,image/png,application/pdf' %>
              </label>
              <div class="progress d-none" data-payment-target="reservationPaymentProgress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </fieldset>
          <button type="button" class="btn btn-secondary" data-action="click->payment#previousStep">Anterior</button>
          <%= f.button :submit, "Finalizar", class: 'btn btn-primary mt-3', data: { payment_target: "nextButton" }, disabled: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Scripts para la validación -->
<script>
document.addEventListener('turbo:load', function() {
  const workshopSelector = document.getElementById('workshop_selector');
  const regularPriceDisplay = document.getElementById('regular_price_display');
  const discountPercentageDisplay = document.getElementById('discount_percentage_display');
  const totalPriceDisplay = document.getElementById('total_price_display');
  const regularPriceDisplayReservation = document.getElementById('regular_price_display_reservation');
  const discountPercentageDisplayReservation = document.getElementById('discount_percentage_display_reservation');
  const reservationAmountDisplay = document.getElementById('reservation_amount_display');
  const totalPriceDisplayReservation = document.getElementById('total_price_display_reservation');
  const remainingAmountDisplay = document.getElementById('remaining_amount_display');

  workshopSelector.addEventListener('change', function() {
    const workshopId = this.value;
    fetch(`/workshops/${workshopId}/per_student_price`)
      .then(response => response.json())
      .then(data => {
        const price = parseFloat(data.price);
        const regularPrice = parseFloat(data.regular_price || price);
        const discountPercentage = parseFloat(data.discount_percentage || 0);
        const discountedPrice = regularPrice - (regularPrice * (discountPercentage / 100));
        const totalPrice = discountedPrice;

        regularPriceDisplay.textContent = regularPrice.toFixed(2) + ' USD';
        discountPercentageDisplay.textContent = discountPercentage.toFixed(2) + '%';
        totalPriceDisplay.textContent = totalPrice.toFixed(2) + ' USD';

        regularPriceDisplayReservation.textContent = regularPrice.toFixed(2) + ' USD';
        discountPercentageDisplayReservation.textContent = discountPercentage.toFixed(2) + '%';
        const reservationAmount = (totalPrice / 2).toFixed(2);
        reservationAmountDisplay.textContent = reservationAmount + ' USD';
        totalPriceDisplayReservation.textContent = totalPrice.toFixed(2) + ' USD';
        remainingAmountDisplay.textContent = reservationAmount + ' USD';
      })
      .catch(error => console.error("Error fetching price:", error));
  });

  const paymentMethodSelector = document.querySelector('[data-payment-target="paymentMethod"]');
  const yappyInfo = document.querySelector('[data-payment-target="yappyInfo"]');
  const achInfo = document.querySelector('[data-payment-target="achInfo"]');
  const fullPaymentProof = document.querySelector('[data-payment-target="fullPaymentProof"]');
  const reservationPaymentProof = document.querySelector('[data-payment-target="reservationPaymentProof"]');
  const paymentOptionSelector = document.querySelector('[data-payment-target="paymentOption"]');
  const fullPaymentDetails = document.querySelector('[data-payment-target="fullPaymentDetails"]');
  const reservationPaymentDetails = document.querySelector('[data-payment-target="reservationPaymentDetails"]');

  paymentMethodSelector.addEventListener('change', function() {
    yappyInfo.classList.add('d-none');
    achInfo.classList.add('d-none');

    if (this.value === 'yappy') {
      yappyInfo.classList.remove('d-none');
    } else if (this.value === 'ach') {
      achInfo.classList.remove('d-none');
    }
  });

  paymentOptionSelector.addEventListener('change', function() {
    fullPaymentProof.classList.add('d-none');
    reservationPaymentProof.classList.add('d-none');
    fullPaymentDetails.classList.add('d-none');
    reservationPaymentDetails.classList.add('d-none');

    if (this.value === 'full') {
      fullPaymentProof.classList.remove('d-none');
      fullPaymentDetails.classList.remove('d-none');
    } else if (this.value === 'reservation') {
      reservationPaymentProof.classList.remove('d-none');
      reservationPaymentDetails.classList.remove('d-none');
    }
  });
});

document.addEventListener('turbo:load', function() {
  document.getElementById('copyButton').addEventListener('click', function() {
    var codigo = document.getElementById('codigo').innerText;
    navigator.clipboard.writeText(codigo).then(function() {
      var mensajeCopiado = document.getElementById('mensaje-copiado');
      mensajeCopiado.style.display = 'block';
      setTimeout(function() {
        mensajeCopiado.style.opacity = '1';
      }, 10); // Retardo pequeño para permitir que se aplique la transición correctamente
    }).catch(function() {
      console.error('Error al copiar el texto');
    });
  });
});
</script>

<script>
document.addEventListener('turbo:load', function() {
  const fullFileInput = document.querySelector('[data-payment-target="fullFileInput"]');
  const reservationFileInput = document.querySelector('[data-payment-target="reservationFileInput"]');

  function showFilePreview(input, previewTarget) {
    const file = input.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = e => {
        const preview = document.querySelector(previewTarget);
        if (file.type === 'application/pdf') {
          preview.src = 'https://placehold.co/400';
        } else {
          preview.src = e.target.result;
        }
        preview.classList.remove('d-none');
      };
      reader.readAsDataURL(file);
    }
  }

  fullFileInput.addEventListener('change', function() {
    showFilePreview(this, '[data-payment-target="fullFilePreview"]');
  });

  reservationFileInput.addEventListener('change', function() {
    showFilePreview(this, '[data-payment-target="reservationFilePreview"]');
  });
});
</script>
