<h1>Nuevo usuario registrado</h1>
<p>Nombre completo: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<p>Título del taller: <%= @workshop.name %></p>
<p>Opción de pago: <%= @user.payment_option %></p>
<p>Método de pago: <%= @user.payment_method %></p>
