<nav class="text-center p-2 bg-dark">
  <div class="container-fluid d-flex justify-content-end align-items-center">
    <%= link_to "Iniciar Sesión", new_user_session_path, class: 'btn btn-primary btn-sm text-black bold' %>
    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Registro", new_registration_path(resource_name), class: 'btn btn-secondary btn-sm text-black bold ms-2' %>
    <% end %>
  </div>
</nav>

<main>



<section id="Mainstage_V1" class="mainstage v1 dk-bg bg-image ta_ ui-repeater anm text-black" universal_="true" data-onvisible="anm" data-showhide="true" data-class-name="open">
  <figure class="bg">
    <video playsinline autoplay loop muted src="/videos/campamento-web-palmera-tech.mp4" poster=""></video>
  </figure>
  <div class="main">

    <small class="blk" id="MainstageV1_Tagline">
      CAMPAMENTO WEB PRESENTA
    </small>
    <figure class="anchor-flair ato">
<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <style>
    .icon {
      fill: #000;
    }
    .text {
      fill: #FFF;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
    }
  </style>
  <rect x="10" y="10" width="80" height="50" class="icon"/>
  <text x="50" y="30" text-anchor="middle" class="text">011001</text>
  <text x="50" y="50" text-anchor="middle" class="text">&lt;/&gt;</text>
  <rect x="30" y="65" width="40" height="6" class="icon"/>
  <rect x="40" y="75" width="20" height="6" class="icon"/>
  <rect x="35" y="85" width="30" height="4" class="icon"/>
</svg>

    </figure>
    <header>
      <h2 id="MainstageV1_Title">
        <span class="blk"><em class="blk">El Coding Challenge </em></span>
        <span class="blk">
          <strong class="flx-grd-sml f_m f_c">
            <svg viewBox="0 0 16 16" class="fit" role="presentation" data-use="/cms/svg/site/3u9eifhswa6.16.2407011638524.svg#wave">
              <path d="M8.515 5.51C9.788 6.298 11.303 6.662 12.818 6.662c1.091 0 2.182-0.182 3.152-0.545c0.303-0.121 0.606-0.242 0.848-0.424c0.242-0.121 0.485-0.303 0.727-0.424c2.242-1.152 5.273-1.152 7.576 0.182c1.273 0.788 2.788 1.152 4.303 1.152c2.121 0 4.182-0.727 5.576-2.061L34.454 3.935C32.333 6.056 28.273 6.42 25.485 4.783c-2.182-1.333-5.091-1.455-7.455-0.606c-0.303 0.121-0.545 0.242-0.848 0.364c-0.242 0.182-0.545 0.364-0.788 0.485C14.151 6.238 11.121 6.177 8.879 4.844c-3.03-1.818-7.515-1.394-9.879 0.97l0.545 0.545C1.666 4.177 5.727 3.814 8.515 5.51zM25.485 10.42c-2.182-1.333-5.091-1.455-7.455-0.545c-0.303 0.121-0.606 0.242-0.848 0.364c-0.242 0.121-0.545 0.303-0.727 0.485c-2.242 1.152-5.273 1.152-7.515-0.182c-3.03-1.818-7.515-1.394-9.879 0.97l0.545 0.545c2.182-2.121 6.182-2.485 8.97-0.848c1.273 0.788 2.788 1.152 4.303 1.152c1.091 0 2.182-0.182 3.152-0.545c0.303-0.121 0.606-0.242 0.848-0.364c0.242-0.182 0.485-0.364 0.727-0.485c2.242-1.152 5.273-1.152 7.515 0.182c1.273 0.788 2.788 1.152 4.303 1.152c2.121 0 4.182-0.727 5.576-2.121L34.454 9.571C32.333 11.753 28.273 12.117 25.485 10.42zM25.485 7.632c-2.182-1.333-5.091-1.455-7.455-0.545c-0.303 0.121-0.606 0.242-0.848 0.364C16.879 7.571 16.636 7.692 16.394 7.874C14.151 9.086 11.121 9.026 8.879 7.692c-3.03-1.818-7.515-1.394-9.879 0.97l0.545 0.545C1.666 7.026 5.727 6.662 8.515 8.359c1.273 0.788 2.788 1.152 4.303 1.152c1.091 0 2.182-0.182 3.152-0.545c0.303-0.121 0.606-0.242 0.848-0.424c0.242-0.121 0.485-0.303 0.727-0.424c2.242-1.152 5.273-1.152 7.576 0.182c1.273 0.788 2.788 1.152 4.303 1.152c2.121 0 4.182-0.727 5.576-2.121L34.454 6.783C32.333 8.904 28.273 9.268 25.485 7.632z"></path>
            </svg>
           Aprende HTML & CSS
            <svg viewBox="0 0 16 16" class="fit" role="presentation" data-use="/cms/svg/site/3u9eifhswa6.16.2407011638524.svg#wave">
              <path d="M8.515 5.51C9.788 6.298 11.303 6.662 12.818 6.662c1.091 0 2.182-0.182 3.152-0.545c0.303-0.121 0.606-0.242 0.848-0.424c0.242-0.121 0.485-0.303 0.727-0.424c2.242-1.152 5.273-1.152 7.576 0.182c1.273 0.788 2.788 1.152 4.303 1.152c2.121 0 4.182-0.727 5.576-2.061L34.454 3.935C32.333 6.056 28.273 6.42 25.485 4.783c-2.182-1.333-5.091-1.455-7.455-0.606c-0.303 0.121-0.545 0.242-0.848 0.364c-0.242 0.182-0.545 0.364-0.788 0.485C14.151 6.238 11.121 6.177 8.879 4.844c-3.03-1.818-7.515-1.394-9.879 0.97l0.545 0.545C1.666 4.177 5.727 3.814 8.515 5.51zM25.485 10.42c-2.182-1.333-5.091-1.455-7.455-0.545c-0.303 0.121-0.606 0.242-0.848 0.364c-0.242 0.121-0.545 0.303-0.727 0.485c-2.242 1.152-5.273 1.152-7.515-0.182c-3.03-1.818-7.515-1.394-9.879 0.97l0.545 0.545c2.182-2.121 6.182-2.485 8.97-0.848c1.273 0.788 2.788 1.152 4.303 1.152c1.091 0 2.182-0.182 3.152-0.545c0.303-0.121 0.606-0.242 0.848-0.364c0.242-0.182 0.485-0.364 0.727-0.485c2.242-1.152 5.273-1.152 7.515 0.182c1.273 0.788 2.788 1.152 4.303 1.152c2.121 0 4.182-0.727 5.576-2.121L34.454 9.571C32.333 11.753 28.273 12.117 25.485 10.42zM25.485 7.632c-2.182-1.333-5.091-1.455-7.455-0.545c-0.303 0.121-0.606 0.242-0.848 0.364C16.879 7.571 16.636 7.692 16.394 7.874C14.151 9.086 11.121 9.026 8.879 7.692c-3.03-1.818-7.515-1.394-9.879 0.97l0.545 0.545C1.666 7.026 5.727 6.662 8.515 8.359c1.273 0.788 2.788 1.152 4.303 1.152c1.091 0 2.182-0.182 3.152-0.545c0.303-0.121 0.606-0.242 0.848-0.424c0.242-0.121 0.485-0.303 0.727-0.424c2.242-1.152 5.273-1.152 7.576 0.182c1.273 0.788 2.788 1.152 4.303 1.152c2.121 0 4.182-0.727 5.576-2.121L34.454 6.783C32.333 8.904 28.273 9.268 25.485 7.632z"></path>
            </svg>
          </strong>
        </span>
        <span class="blk"><em class="blk"> En 3 Días y 6 Horas</em></span>
      </h2>
      <div class="buttons">
            <%= link_to 'Reservar cupo', new_user_registration_path, class: 'btn btn-primary btn-lg text-black bold' %>
        <a href="javascript:void(0);" class="btn btn-secondary btn-lg text-black bold" data-role="btn">
          <span class="blk">
          </span>
          Conoce más
        </a>
      </div>
    </header>
  </div>

  <div class="popup" data-role="panel">
    <svg viewBox="0 0 16 16" aria-label="Close Popup" data-role="btn" data-use="/cms/svg/site/3u9eifhswa6.16.2407011638524.svg#close">
      <path d="M16 1.458L14.546 0.004L8 6.546L1.454 0.004L0 1.458L6.546 8L0 14.542L1.454 15.996L8 9.454L14.546 15.996L16 14.542L9.455 8L16 1.458Z"></path>
    </svg>

    <video type="video/mp4" controls preload="metadata" src="/videos/campamento-web-palmera-tech.mp4" data-replace="false"></video>
  </div>
</section>

<section class="text-black bg-gray pt-5 pb-5">
  <div class="container pt-5 pb-5">

    <blockquote class="quote text-center">
      <h2 class="fs-1">

          Diseñado para ofrecer una experiencia de aprendizaje estimulante y acelerada, sus participantes obtienen sólidos fundamentos en las tecnologías aplicadas en clase y una visión más clara
          de cómo se crean páginas y aplicaciones web profesionales con cero experiencia previa.

      </h2>

       <footer>
        <cite>Campamento Web</cite><br>
        <small>Talleres de desarrollo web presenciales en Panamá</small>
      </footer>
    </blockquote>
    <br>
    <hr>



  </div>
</section>


<!-- Crecimiento de demanda de conocimientos tecnológicos en Panamá -->
<section class="text-black bg-gray pt-5 mb-5 pb-5">

  <img class="bg-middlegreen-line" src="images/landing-page/horizontal-green-line.png">
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <div class="gray-card-lg rounded shadow-lg">
          <h2 class="fs-1 p-5">
          ¡De principiante a desarrollar páginas web en un abrir y cerrar de ojos!
        </h2>
        </div>

        </div>


      <div class="col-md-6 offset-md-1">
        <div class="row">
          <div class="col-12 gray-card-md mb-5 shadow-lg rounded">
            <h3 class="fs-5">Plan Estratégico Nacional con Visión de Estado Panamá 2030</h3>
            <p>En los próximos años, Panamá espera una significativa transformación tecnológica impulsada por diversas iniciativas gubernamentales y privadas.  Como el Plan Estratégico Nacional con Visión de Estado Panamá 2030.

</p>
          </div>
          <div class="col-12 gray-card-md mb-5 shadow-lg rounded">
            <h3 class="fs-5">Incremento de la demanda de desarrolladores</h3>
            <p>Los conocimientos adquiridos en El Coding Challenge son la introducción perfecta al campo del  desarrollo front-end, diseño web, especialista en UI/UX, editor de contenido web, desarrollador de email marketing, asistente ténico en desarrollo web, entre otros. </p>

          </div>
        </div>
      </div>
  </div>
</section>

<!-- Fechas, hora y ubiación -->
<section class="text-black pt-5 mb-5 pb-5">

      <div class="container mb-5 text-end">
        <h2 class="fs-1">Próxima sesión</h2>
      </div>
  <img class="bg-middlebottom-line img-fluid" src="images/landing-page/horizontal-green-line.png">
  <div class="container">
    <div class="row">



      <div class="col-md-6 ">
        <div class="row">
          <div class="col-12 gray-card-lg mb-5 shadow-lg rounded text-center">
            <h3 class="fs-1">23, 24 y 25 de julio
              <br>
              <small class="fs-6">Fechas</small>
            </h3>

          </div>
          <div class="col-12 gray-card-lg mb-5 shadow-lg rounded text-center">
            <h3 class="fs-1">7.00 P.M
              <br>
              <small class="fs-6">Horario</small>
            </h3>
            <div class="col-12  text-center">
             <b><%= link_to 'Reservar mi cupo', new_user_registration_path, class: 'btn btn-primary mt-4 btn-lg text-black bold' %></b>
            </div>
          </div>

        </div>
              </div>

        <div class="col-md-5 offset-md-1">

        <div class="gray-card-md rounded shadow-lg text-center">
          <h3 class="fs-4">El Cangrejo, Bella Vista, Ciudad de Panamá</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7881.670041676373!2d-79.53312730508603!3d8.987324311435058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8fac2c0d2ed%3A0xd6056b5afc110f6b!2sEl%20Cangrejo%2C%20Panam%C3%A1%2C%20Provincia%20de%20Panam%C3%A1!5e0!3m2!1ses!2spa!4v1720630392724!5m2!1ses!2spa"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border:0;width: 100%;height: 67vh;"></iframe>

        </div>


      </div>
  </div>
</section>


<!-- Descuento a primeros participantes -->
<section class="text-black bg-gray pt-5 pb-5 vh-100 d-flex justify-content-center align-items-center">

    <img class="bg-middlegreen-line" src="images/landing-page/horizontal-green-line.png" style="left: -82%;margin-top: 0%;">

    <img class="bg-middlegreen-line" src="images/landing-page/horizontal-green-line.png" style="right: -82%;margin-top: 0%;">


    <div class="container">
      <div class="row justify-content-center align-items-center">
     <h2 class="fs-1 mb-5">Promoción de Lanzamiento</h2>
        <div class="col-md-5 promo">
            <div class="gray-card-md mb-5 shadow-lg rounded text-center">
              <h1 class="fs-1 mt-5 mb-5"><b> 40% DE DESCUENTO</b> DURANTE EL LANZAMIENTO PARA
              LOS PRIMEROS <b>22 PARTICIPANTES</b></h1>
            </div>
          </div>

          <div class="col-md-5 offset-md-2 discount-amount">
            <div class="gray-card-md mb-5 shadow-lg rounded text-center pt-5 pb-5">
              <h3 class="mt-5 pt-4"><del>$100</del></h3>
              <h2 class="mb-5 pb-2">$60</h2>
               <b><%= link_to 'Tomar oferta', new_user_registration_path, class: 'btn btn-danger mt-4 btn-sm text-white bold' %></b>
            </div>
          </div>
      </div>
    </div>

</section>


<!-- Instrucción a cargo de Hanaley Mosley  -->
<section class="text-white bg-dark pt-5 mb-5 pb-5 vh-100 container-center">

  <img class="bg-middlegreen-line" src="images/landing-page/horizontal-green-line.png">
  <div class="container">
    <div class="row">
      <h2  class="fs-1 mb-5">Instructora</h2>
      <div class="col-md-5">

        <div class="gray-card-md rounded shadow-lg">

        <img src="images/landing-page/el-coding-challenge-hana-mosley.jpg" class="img-fluid rounded" alt="Instructora del taller - Hana">
        </div>

        </div>


      <div class="col-md-4 offset-md-2">
        <div class="row">
          <div class="col-12 gray-card-md mb-5 shadow-lg rounded">
            <h3 class="fs-5">Hanaley Mosley</h3>
            <p>Creó su primera página web a los 12 años y cuenta con más de una década de experiencia como desarrolladora web y diseñadora UI.</p>

            <p>Desarrolladora y fundadora de Campamento Web y el taller El Coding Challenge, el cual diseñó con la mejor metodología de enseñanza
              para quienes empiezan desde cero y  ayudar a los participantes a vencer el desafío.</p>
          </div>

        </div>
      </div>
  </div>
</section>


</main>
