<!-- app/views/lessons/show.html.erb -->
<!-- app/views/lessons/show.html.erb -->
<div class="container mt-4">
  <h1 class="display-4"><%= @lesson.title %></h1>
  <div class="mt-3 mb-4 bg-light p-3 rounded text-black">
    <%= raw highlight_prism(@lesson.content) %>
  </div>

  <div>
    <% if @lesson.completions.find_by(user: current_user).nil? %>
      <%= button_to 'Marcar como Completada',
                    toggle_completion_workshop_lesson_path(@workshop, @lesson),
                    method: :post,
                    class: 'btn btn-success',
                    data: { turbo: true } %>
    <% else %>
      <p>Lección completada.</p>
    <% end %>

    <!-- Botón Editar visible solo para administradores -->
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Editar', edit_workshop_lesson_path(@workshop, @lesson), class: 'btn btn-primary' %>
    <% end %>

    <%= link_to 'Volver a Lecciones', workshop_lessons_path(@workshop), class: 'btn btn-secondary' %>
  </div>
</div>


<!-- Inicializar Prism.js -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    Prism.highlightAll();
  });
</script>
